{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="container">
    <div class="container">
        <div class="container">

                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    {% for article in articles %}
                    <div id="image" class=" mine "><img src="/media/{{ article.image }}" alt="img"/>
                        <div class="clearfix"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">

                            <div>
                                <a href="/publications/index" class="color_fff"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ article.published }}</a>
                            </div>

                            <div><a href="{% url 'article' article.id %}" class="fh5co_good_font_2">{{ article.place }}<br> </a></div>

                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>
</div>
<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn">
        <div>
            <div class="fh5co_heading py-2 mb-6 line">События</div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1">
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><a href="/turnir/index"><img src="{% static 'images/t1.jpg' %}" alt="" class="fh5co_img_special_relative" /></a></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="/turnir/index" class="text-white"> Турнир “Orient Monsters Cup” – (кобра) 5-суток </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> 13.09.2021</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><a href="/turnir/index"><img src="{% static 'images/t2.jpg' %}" alt="" class="fh5co_img_special_relative" /></a></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="/turnir/index" class="text-white">“V.I.P. Турист – 2021 ” Марьевское ВДХР.</a>
                        <div class="fh5co_latest_trading_date_and_name_color"> 31.08.2021</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><a href="/turnir/index"><img src="{% static 'images/t3.jpg' %}" alt="" class="fh5co_img_special_relative"/></a></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="/turnir/index" class="text-white"> “КАРП ЭЛИТ 2021” Международный коммерческий турнир (рыбпитомник «Крутая балка», с. Любимовка)</a>
                        <div class="fh5co_latest_trading_date_and_name_color">13.09.2021</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><a href="/turnir/index"><img src="{% static 'images/t4.jpg' %}" alt="" class="fh5co_img_special_relative" /></a></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="/turnir/index" class="text-white"> Here's a new way to take better photos for instagram </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><a href="/turnir/index"><img src="{% static 'images/t2.jpg' %}" alt="" class="fh5co_img_special_relative" /></a></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="/turnir/index" class="text-white"> Here's a new way to take better photos for instagram </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading line py-2 mb-4 ">Креатив</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <a href="/crafts/index">
                    <div class="fh5co_news_img"><img src="{% static 'images/c1.jpg' %}"/></div>
                    <div>
                        <a href="/crafts/index" class="d-block fh5co_small_post_heading"><span class="">Описание 1</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Дата публикации</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <a href="/crafts/index">
                    <div class="fh5co_news_img"><img src="{% static 'images/cr2.jpg' %}" alt="" /></div>
                    <div>
                        <a href="/crafts/index" class="d-block fh5co_small_post_heading"><span class="">Описание 2</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Дата публикации</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <a href="/crafts/index">
                    <div class="fh5co_news_img"><img src="{% static 'images/c5.jpg' %}" alt="" /></div>
                    <div>
                        <a href="/crafts/index" class="d-block fh5co_small_post_heading"><span class="">Описание 3</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Дата публикации</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid fh5co_video_news_bg pb-4">

    <div class="container animate-box" data-animate-effect="fadeIn">

        <div>
            <div class="fh5co_heading pt-5 pb-2 mb-4  text-white">Видео с рыбалочки</div>
        </div>
        <div>
            <div class="owl-carousel owl-theme" id="slider3">
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bcxaReAwIzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">Рыбалка по Украине. Сорокошичи</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Sept 14,2021</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UVDhNKdo7b0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_2">
                                <img src="images/39-324x235.jpg" alt="" /></div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_2" id="play-video_2">
                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">ЛОВЛЯ На УДОЧКУ! Рыбалка на УДОЧКУ Для Начинающих!</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Sept 14,2021</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/J7m0xt4aW8U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_3">
                                <img src="images/joe-gardner-75333.jpg" alt="" /></div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_3" id="play-video_3">
                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">ДИКИЕ ПОКЛЕВКИ НА КАЖДОМ ЗАБРОСЕ!!! РЫБАЛКА НА САЗАНА.</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Sept 14,2021</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe id="video_4" width="100%" height="200" src="https://www.youtube.com/embed/aM9g4r9QUsM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_4">
                                <img src="images/vil-son-35490.jpg" alt="" />
                            </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_4" id="play-video_4">
                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">The top 10 best computer speakers in the market</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Блок новостей</div>
                </div>
                <div class="row pb-4">
                    {% for new in news %}
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img mine-marging"><a href="/fish_news/index"><img src="/media/{{ new.image }}" alt="" /></a></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="/fish_news/index" class="fh5co_magna py-2">{{ new.title }}</a> <a href="/fish_news/index" class="fh5co_mini_time py-3"> {{ new.published }}</a>
                        <div class="fh5co_consectetur small-text">{{ new.content }}</div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>


<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>
<style>
.mine {
    display: inline-block;
    float: left;
    margin: 1.1em;

}
.line {
    position:relative;
    display:inline-block;
    font-size:48px;
    }
.line:after{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    width:60%;
    height:2px;
    margin-left:-30%;
    background:#000;
    }
.small-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.mine-marging {
    margin-bottom: 1.1em;
}
body {
    color: #030305;
}

</style>


{% endblock content %}