{% load static %}

<div class="container-fluidpb-3">

</div>
<div class="container-fluid fh5co_footer_right_reserved down">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2021, All rights reserved. Hand Craft.</div>
            <div class="col-12 col-md-6 spdp_right py-4">
                <a href="/" class="footer_last_part_menu">Главная</a>
                <a href="/about" class="footer_last_part_menu">О сайте</a>
                <a href="/home/contact" class="footer_last_part_menu">Контакты</a>
        </div>
    </div>
</div>
<style>

.down {
    position:fixed;
    left:0px;
    bottom:0px;
    height:5%;
    width:100%;
    margin-top: 0.4em;
    padding-bottom: 1.1em;
}
</style>