
{% load static %}


<div class="container-fluid">
    <div class="row craft">
        <div class="col-md-1">

            <a href="{% url 'home' %}">
                <img class="mine-img" src="{% static 'images/f4.png' %}" alt="">
            </a>
        </div>
        <div class="col-md-2">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{% url 'home' %}">Главная<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{% url 'publications' %}">Места ловли<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{% url 'crafts' %}">Креатив<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{% url 'turnir' %}">События<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-1">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{% url 'fish_news' %}">Новости<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <div class=" ">
                {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-primary" href="/account/sign_out">Выход</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="/account/sign_up">Регистрация</a>
                    <a class="btn btn-outline-primary" href="/account/sign_in">Вход</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>


.craft {
    background-color: #d3f0fe;
}
.header-mine {
    background-color: #d3f0fe;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 0;
    margin-top: 0;

}
.mine-img {
    width: 2.8em;
    height: 2.8em;
    background-image: url('static/fishka.png')
}
.header-mine {
    display: inline-block;
}
#truba {
    padding: 0;
}
header {
    font-size: 1.4em;
}
#margin-low {
    margin-bottom: 0.1rem;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
</style>