
{% load static %}




<div class="row">

    <div class="col-sm-10" style="margin-right: ">
        <a href="/">
            <img class="mine-img" src="{% static 'images/fishing2.jpg' %}" alt="">
        </a>
    </div>

    <nav class="col-sm-2">
        <div class="d-inline-block text-center dd_position_relative ">
            <a class="btn btn-outline-primary" href="/account/sign_up">Регистрация</a>
            <a class="btn btn-outline-primary" href="/account/sign_in">Вход</a>
            <a class="btn btn-outline-primary" href="/account/sign_out">Выход</a>
        </div>
    </nav>
</div>
<div class="row craft ">
        <div class="container padding_786">

            <nav class="navbar navbar-toggleable-md navbar-light ">


                <div id="margin-low" class="collapse navbar-collapse">

                    <div class="col-md-2">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="{% url 'home' %}">Главная<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="/publications/index">Места ловли<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="/crafts/index">Креатив<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="/talking/index">Общение <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="/turnir/index">События<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="/fish_news/index">Новости<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>


<style>

.img-f {
    margin-left: 0;
    display: block;
    margin-bottom: 1.2em;
    position: relative;
    right: 1.1em;
    background-color: #d3f0fe;
}
.craft {
    background-color: #d3f0fe;
    margin-left: 3em;
}
.header-mine {
    background-color: #d3f0fe;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 0;
    margin-top: 0;

}
.mine-img {
    width: 2.8em;
    height: 2.8em;
}
.header-mine {
    display: inline-block;
}
#truba {
    padding: 0;
}
header {
    font-size: 1.4em;
}
#margin-low {
    margin-bottom: 0.1rem;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
</style>