{% extends 'layouts/base.html' %}


{% block title %}Места для рыбалки{% endblock %}

{% block content %}

<section class="py-5 text-center container main-box">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light mine-mar">Места для рыбалки</h1>
            <p class="lead text-muted">Последние записи</p>
        </div>
    </div>
    <div>
        {% for article in articles %}
        <div class="row">
            <div class="col-md-8">
            <img class="img" src="/media/{{ article.image }}" width="80%" height="80%">
            </div>
            <div class="col-md-4">
            <p>{{ article.published }}</p>
            <p><strong>{{ article.place }}</strong></p>
            <p>{{ article.content }}</p>
            <p>{{ article.address }}</p>
            <iframe src="{{ article.url }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="clearfix"></div>

            <div class="container">
                {% if request.user.is_authenticated %}
            <a class="btn btn-success" href="{ url 'create' }">Добавить статью</a>
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
</section>
<style>
    .btn-success {
        margin-bottom: 0.8em;
        margin-top: 0.5em;
    }
    .mine-mar {
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }

    section {
        font-size: 1.6em;
    }

</style>
{% endblock content %}

